# Run the following commands to make this work:
# git config --local diff.gpg.textconv 'gpg -vo- --no-auto-check-trustdb 2>&1'
# git config --local diff.gpg-vv.textconv 'gpg -vvo- --no-auto-check-trustdb 2>&1'
# git config --local diff.gpg.cachetextconv 'false'
# git config --local diff.gpg-vv.cachetextconv 'false'

*.secrets diff=gpg linguist-generated linguist-language=Public\ Key
*.gpg diff=gpg-vv linguist-generated linguist-language=Public\ Key
package-lock.json linguist-generated=false linguist-documentation
